:root {
  /* TYPOGRAPHY */
  --font-family-headline: 'Space Grotesk';
  /* fallback stack from https://github.com/csstools/sanitize.css#typography */
  --font-family-sans-serif: 'Work Sans', system-ui,
    /* macOS 10.11-10.12 */ -apple-system, /* Windows 6+ */ Segoe UI,
    /* Android 4+ */ Roboto, /* Ubuntu 10.10+ */ Ubuntu,
    /* Gnome 3+ */ Cantarell, /* KDE Plasma 5+ */ Noto Sans,
    /* fallback */ sans-serif, /* macOS emoji */ 'Apple Color Emoji',
    /* Windows emoji */ 'Segoe UI Emoji', /* Windows emoji */ 'Segoe UI Symbol',
    /* Linux emoji */ 'Noto Color Emoji';

  /* COLORS */
  --color-background-primary: #fff;
  --color-text-primary: #000;
  --color-canary-yellow: #ffd540;

  /* STYLING */
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font-family: var(--font-family-sans-serif);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-primary: #000;
    --color-text-primary: #fff;
  }
}

html,
body,
#__next {
  height: 100%;
}

.container {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 48rem;
}

.content {
  margin: 1.5rem;
}

.header {
  margin-bottom: 5rem;
  position: relative;
}

.display-heading {
  font-family: var(--font-family-headline);
  font-size: 6rem;
  margin-bottom: 4rem;
  margin-top: 0;
  line-height: 6.25rem;
}

.display-tag {
  display: flex;
  justify-content: space-between;
  max-width: 24rem;
  font-family: var(--font-family-headline);
  font-size: 2.25rem;
  font-weight: 300;
}
