.pinnedCanary {
  position: absolute;
  right: 1.5rem;
  top: 3rem;
  z-index: -1;
}

.button {
  background-color: transparent;
  border-color: var(--color-text-primary);
  border-radius: 1rem;
  padding: 0.5rem;
}

.cta {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
