.canary {
  background: radial-gradient(
    50% 50% at center,
    var(--color-canary-yellow) 0%,
    rgba(255, 213, 64, 0) 100%
  );
  width: 30%;
}

.canary:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

@keyframes canary-animation {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.8);
  }
}

.canaryAnimated {
  animation: canary-animation 4s ease-in-out 0s infinite alternate both;
}
